@import 'scss/config';
@import 'scss/utilities';
@import 'scss/mobile';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  // text-align: center;
  display: flex;
  place-content: center;
}

.hidden{
  display: none;
}