@media (min-width: 780px){
  .body{
    min-width: 780px;
    max-width: 1440px;

    .App{
      position: relative;
      padding: 5em;
      display: grid;
      grid-template-rows: repeat(12, auto);

        .header{
          img{
            width: 80px;
          }

          .menu{
            display: none;
          }
          nav{
            display: flex;

            li{
              list-style: none;
              margin-left: 2em;
              font-size: 1.2em;
            }
          }

        }


        .main{
          display: grid;
          margin: 2em 0;
          grid-template-columns: 2.5fr 1fr;
          grid-template-rows: 1fr;

          .highlight{
            margin-right: 2em;
          }

          .desc{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 2em;

            .heading{
              font-size: 4em;
              margin: 0;
              margin-right: .5em;
            }

            .descBody{

              p{
                font-size: 1.3em;
                margin-right: .2em;
              }

              button{
                padding: 1.2em 2.2em;
                font-size: 1.2em;
                margin: 2em 0 0 0;
              }
            }
          }


          .new{
            margin: 0;
            padding: 2.5em 1.7em;

            h2{
              font-size: 2.7rem;
            }

            .news{

              h3{
                font-size: 1.4em;
              }

              p{
                font-size: 1.04em;
                line-height: 2;
              }
            }
          }
        }

        .footer{
          display: flex;
          justify-content: space-between;

          img{
            width: 130px;
          }

          .footNews{
            margin: 0;
            width: 30%;


            h1{
              font-size: 3em;
            }

            .title{
              font-size: 1.2em;
            }

            .details{
              font-size: 1em;
              padding-right: 1em;
            }
          }
        }

      }
    }

}
